.head {
  background:red;
  height:125px;
  text-align:center;
  color:white;
  padding-top:35px;
}
.foot {
  background:red;
  height:75px;
  text-align:center;
  color:white;
  padding-top:20px;
}
.pl {
float:left;
border:2px solid black;
margin:20px;
}
